@import "./header.css";
@import "./banner.css";
@import "./about.css";
@import "./content.css";
@import "./footer.css";
@import "./blogpost.css";

.container{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 60px 700px 800px auto 80px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "bb bb bb bb bb bb bb bb"
    "ab ab ab ab ab ab ab ab"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

#blogpage {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 60px 700px auto 80px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "bb bb bb bb bb bb bb bb"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}